.root {
    height: 100vh;
}

.loginImage {
    background-image: url(https://images.unsplash.com/photo-1560146491-308b0f69a52a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginContainer {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm,
.forgotPasswordForm {
    width: 100%;
}

.avatar {
    background-color: red!important;
}

.submitBtn {
    margin: 10px 0;
}